body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  background-color: red;
  text-align: center;
  color: white;
  padding: 20px 0;
}

.contents {
  display: flex;
}

.contents .content {
  width: 70%;
  background-color: green;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.contents .sidebar {
  width: 30%;
  background-color: orange;
  color: white;
  text-align: center;
  padding: 100px 0;
}

.footer {
  background-color: blue;
  text-align: center;
  color: white;
  padding: 20px 0;
}

.title {
  color: red;
}
